{% extends "base.html" %}
{% block content %}
<h2>Welcome {{ session['user'] }}</h2>
<a href="/logout">Logout</a>

<h3>Videos</h3>
{% for v in videos %}
<p>{{ v[1] }}</p>
<video controls>
  <source src="{{ url_for('static', filename='uploads/' + v[2]) }}">
</video>
{% endfor %}

<h3>Notes</h3>
{% for n in notes %}
<p>{{ n[1] }}</p>
{% endfor %}

<h3>PDFs</h3>
{% for p in pdfs %}
<a href="{{ url_for('static', filename='uploads/' + p[1]) }}" target="_blank">Download {{ p[1] }}</a><br>
{% endfor %}

<h3>MCQs</h3>
{% for q in quiz %}
<p>{{ q[1] }}<br>
1. {{ q[2] }} 2. {{ q[3] }} 3. {{ q[4] }} 4. {{ q[5] }} <b>Ans: {{ q[6] }}</b></p>
{% endfor %}
{% endblock %}
